@model TestManagmentSystem.Web.ViewModels.Systems.SystemsViewModel

<div class="panel panel-primary">
    <div class="panel-heading">
        @Model.Name
    </div>
    <div class="panel-body">

    </div>
</div>
