@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Test Management System</h1>
    <p class="lead text-center">Optimize your tests</p>
</div>

@Html.Action("TestedSystems")
@Html.Action("Issues")